<!--</a> [routerLink]="['/product', product.id]"-->
    <a
    style="cursor:pointer"
    class="list-group-item clearfix mb-4"
    *ngIf="product"
    [routerLink]="['/product/',index]"
    routerLinkActive="active"
     >
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ product.name}}</h4>
        <p class="list-group-item-text">{{ product.description}}
          <span class="float-right">
            <img
            [src]="product.imagePath"
             alt="{{ product.name}}"
             class="img-responsive"
             style="max-height: 50px;"> <!--src="{{ recipe.imagePath }}"-->
          </span>
        </p>

      </div>

    </a>

