<div class="row">

  <div class="col-md-5">
    <app-recipe-list ></app-recipe-list>
    <!-- <app-recipe-list  (recipeWasSelected) = "selectedRecipe($event)"></app-recipe-list> -->
    <!--<app-recipe-list  (recipeWasSelected) @Output event from child = "writeDetail($event)" source method from parent></app-recipe-list>-->
  </div>

  <div class="col-md-7">

  <app-recipe-detail
  *ngIf="selectedRecipe ; else infoText"
   [recipeDetail]="selectedRecipe"
   ></app-recipe-detail>
    <!-- <app-recipe-detail [recipeDetail]="recipe"  *ngIf="recipe ; else infoText"></app-recipe-detail> -->
    <ng-template #infoText> <p>Please select a Recipe for the details !!</p></ng-template>
    <!--<app-recipe-detail [recipeDetail] @Input() property from child  recipe-details ="recipeDetail" source property from parent recipes ></app-recipe-detail>-->
  </div>

</div>
