<p>List of servers</p>
<div class="row">

  <div class="col-xs-12 col-md-4 ">
   <div class="list-group">
     <a
     [routerLink]="['/servers',server.id, 'edit']"
    [queryParams]="{allowEdit: server.id}"
    fragment="loading"
      class="list-group-item"
      *ngFor="let server of servers"
      > {{server.name}}</a>
   </div>
  </div>

  <div class="col-xs-12 col-md-4 ">
    <button class="btn btn-info" (click)="onReload()"> Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <!--<app-server></app-server>-->
  </div>

</div>
